In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jaese\anaconda3\lib\site-packages (3.14.1)
Requirement already satisfied: urllib3 in c:\users\jaese\anaconda3\lib\site-packages (from selenium) (1.26.9)

In [2]:
import time
from selenium import webdriver

chrome_options=webdriver.ChromeOptions()
chrome_options.add_argument("--headless")
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")

In [3]:
driver=webdriver.Chrome('C:\Chrome_Driver\chromedriver.exe',options=chrome_options)

In [6]:
driver.get('http://localhost:8080/')

In [7]:
driver.find_element_by_name('id').send_keys('nia001')
driver.find_element_by_name('pw').send_keys('1234')

In [8]:
driver.find_element_by_xpath("/html/body/div/div/div/form/input[3]").click()

In [9]:
!pip install html_table_parser

Requirement already satisfied: html_table_parser in c:\users\jaese\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: beautifulsoup4==4.4.1 in c:\users\jaese\anaconda3\lib\site-packages (from html_table_parser) (4.4.1)

In [10]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from html_table_parser import parser_functions
from urllib.request import urlopen

In [11]:
url='http://localhost:8080/labeling.jsp'
driver.get(url)
html=driver.page_source
soup=BeautifulSoup(html,'lxml')
data=soup.find("table",{"class":"table"})
table=parser_functions.make2d(data)
df=pd.DataFrame(data=table[1:],columns=table[0])

In [12]:
df

,,No.,대상자번호,방문차수,PHQ-9 total,HADS-depression total,HADS-depression 중증도번호,문항1,문항2,중증도(2진),전문의판정
0,,1,1,1,6,6,0,1,2,1,=선택=01
1,,2,1,2,5,4,0,1,2,1,=선택=01
2,,3,2,1,17,15,2,4,4,1,=선택=01
3,,4,2,2,13,19,2,4,3,1,=선택=01
4,,5,3,1,10,14,2,2,2,1,=선택=01
5,,6,3,2,12,18,2,2,2,1,=선택=01
6,,7,4,1,12,13,2,2,2,1,=선택=01
7,,8,4,2,14,10,1,3,2,1,=선택=01
8,,9,5,1,0,4,0,1,1,0,=선택=01
9,,10,5,2,0,5,0,1,1,0,=선택=01
10,,11,6,1,17,15,2,3,2,1,=선택=01
11,,12,6,2,20,17,2,3,3,1,=선택=01
12,,13,7,1,8,14,2,2,2,1,=선택=01
13,,14,7,2,12,13,2,2,2,1,=선택=01
14,,15,8,1,12,5,0,3,2,1,=선택=01
15,,16,8,2,9,6,0,2,2,1,=선택=01
16,,17,9,1,22,11,1,4,3,1,=선택=01
17,,18,9,2,17,13,2,3,3,1,=선택=01
18,,19,10,1,0,6,0,1,1,0,=선택=01
19,,20,10,2,11,7,0,1,1,1,=선택=01

In [17]:
for i in range(2,101,1) :
    url='http://localhost:8080/labeling.jsp'+'?page={0}'.format(i)
    driver.get(url)
    html=driver.page_source
    soup=BeautifulSoup(html,'lxml')
    data=soup.find("table",{"class":"table"})
    table=parser_functions.make2d(data)
    df2=pd.DataFrame(data=table[1:],columns=table[0])
    df=pd.concat([df,df2],ignore_index=True)

In [18]:
df

,,No.,대상자번호,방문차수,PHQ-9 total,HADS-depression total,HADS-depression 중증도번호,문항1,문항2,중증도(2진),전문의판정
0,,1,1,1,6,6,0,1,2,1,=선택=01
1,,2,1,2,5,4,0,1,2,1,=선택=01
2,,3,2,1,17,15,2,4,4,1,=선택=01
3,,4,2,2,13,19,2,4,3,1,=선택=01
4,,5,3,1,10,14,2,2,2,1,=선택=01
...,...,...,...,...,...,...,...,...,...,...,...
2055,,1996,20982,1,0,5,0,1,1,0,=선택=01
2056,,1997,20983,1,2,7,0,1,2,0,=선택=01
2057,,1998,20993,1,1,7,0,1,1,0,=선택=01
2058,,1999,20993,2,4,7,0,3,2,0,=선택=01
2059,,2000,30006,2,4,2,0,1,2,0,=선택=01

In [19]:
df.to_csv("C:/Users/jaese/Desktop/source.csv")